APP_ENV=local
APP_URL=http://localhost

DB_HOST=localhost
DB_NAME=vite_et_gourmand
DB_USER=root
DB_PASS=

MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=vite_et_gourmand

MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=Vite et Gourmand
CONTACT_RECIPIENT=
